<% provide(:title,'Help') %>
<h1>Help</h1>
<p>
Consigue ayuda sobre el tutorial de Ruby on Rails en
<a href="http://railstutotial.org/help">Rails tutorial help page.</a>
Para conseguir ayuda sobre esta aplicación de ejemplo mira
<a href="http://railstutorial.org/book">Rails Tutorial book</a>
</p>
