<% provide(:title,'Ruby on Rails Tutorial Sample App | Home') %>
<h1>Home</h1>
<p>
	Esta es la página principal(home) para
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	aplicación de ejemplo
</p>

